* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(79, 79, 121);
}

a {
    text-decoration: none;
    color: #fff;
}

h3{
    color: white;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
}
.display-screen{
    background-color: rgb(15, 15, 82);
    border-radius: 10px;
}

#display {
    margin: 0 10px;
    height: 90px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
    color: #fff;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

.buttons{
    background-color: rgb(15, 15, 82);
    border-radius: 10px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

#del{
    background-color: skyblue;
}

#reset{
    background-color:skyblue ;
    width: 130px;
}

#equal{
    background-color: red;
    width: 130px;
}